CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# build directory
build/

# vscode user settings
.vscode/

# clion user settings
.idea/

# cache files
*.cache
.cache/
